{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
           <form method="POST" class="p-3 shadow">
             {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="task" placeholder="Task Name">
                </div><br>
               <div class="form-group">
                  <input type="text" class="form-control" name="priority" placeholder="Enter Priority">
                </div><br>
                <div class="form-group">
                  <input type="date" class="form-control" name="date" placeholder="Enter date">
                </div><br>

               <input type="submit"class="btn btn-primary">
           </form>
        </div>
        <div class="col-md-6">
            <h4>Task To Be Completed</h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a  class="btn btn-danger" href="{% url 'delete' i.id %}">Delete</a>
                    <a  class="btn btn-info" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div><br>
            {% endfor %}
        </div>
    </div>
</div>






{% endblock %}